{% if user.is_authenticated %}
{% with current_id=user.rater.rater_id %}
<p>Welcome, <a href="{% url 'movie_recommender:user' current_id %}">{{ user.username }}</a>. Thanks for logging in. <a href="{% url 'logout' %}">Log Out</a></p>
{% endwith %}
{% else %}
    <p>Welcome, new user. Please <a href="{% url 'login' %}">log in</a>.</p>
{% endif %}
<a href="{% url 'movie_recommender:index' %}">Home</a>
{% if top_20_movies %}
  <table>
    <tr>
      <th>Movie ID</th>
      <th>Average Rating</th>
    </tr>

    {% for movie, avg_rating in top_20_movies %}
      <tr>
        <td><b><a href="{% url 'movie_recommender:movie' movie %}">{{movie}}</a></b></td>
        <td>{{avg_rating}}</td>
      </tr>
    {% endfor %}
  </table>
{% endif %}
