{% if user.is_authenticated %}
    {% with current_id=user.rater.rater_id %}
    <p>Welcome, <a href="{% url 'movie_recommender:user' current_id %}">{{ user.username }}</a>. Thanks for logging in. <a href="{% url 'logout' %}">Log Out</a></p>
    {% endwith %}
    {% if user.rater.rater_id not in rater_queries %}
    <p>
        {% with flick_id=movie.movie_id %}
    <a href="{% url 'movie_recommender:rate_movie' flick_id %}">Rate {{movie.title}}</a>.
    {% endwith %}
    </p>
    {% endif %}
{% else %}
<p>Welcome, new user. Please <a href="{% url 'login' %}">log in</a>.
Or <a href="/register">register</a></p>
{% endif %}
<a href="{% url 'movie_recommender:index' %}">Home</a>
{% if movie %}
<p>
  <b>Title: </b>{{movie.title}}
  <b>Movie Id: </b>{{movie.movie_id}}
  <b>Average Rating: </b>{{average}}
</p>
    {% for rating in rating_list %}
        {% with person_id=rating.user_id_id %}
      <p>
        <a href="{% url 'movie_recommender:user' person_id %}">User: {{rating.user_id_id}}</a>
        <b>Rating: </b>{{rating.rating}}
      </p>
      {% endwith %}
    {% endfor %}
{% endif %}
