<!DOCTYPE html>
<html>
    <head>
        <title>Add Rating</title>
    </head>

    <body>
        {% if user.is_authenticated %}
        {% with current_id=user.rater.rater_id %}
        <p>Welcome, <a href="{% url 'movie_recommender:user' current_id %}">{{ user.username }}</a>. Thanks for logging in. <a href="{% url 'logout' %}">Log Out</a></p>
        {% endwith %}
        {% else %}
            <p>Welcome, new user. Please <a href="{% url 'login' %}">log in</a>.</p>
        {% endif %}
        <h1>Add Rating</h1>
<p>
    Please add your rating for {{movie.title}}. Its average rating is: {{movie_average}}.
</p>
        <form id="RatingForm" method="post" action="">

            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

            {% for field in form.visible_fields %}
                {{ field.errors }}
                {{ field.help_text }}
                {{ field }}
            {% endfor %}

            <input type="submit" name="submit" value="Add Rating" />
        </form>
    </body>

</html>
