{% if user.is_authenticated %}
    <p>Welcome, {{ user.username }}. Thanks for logging in. <a href="{% url 'logout' %}">Log Out</a></p>
{% else %}
    <p>Welcome, new user. Please <a href="{% url 'login' %}">log in</a>.</p>
{% endif %}
{% if rater %}
<p>
  <b>User ID: </b>{{rater.rater_id}}
  <b>Age: </b>{{rater.age}}
  <b>Gender: </b>{{rater.sex}}
  <b>Occupation: </b> {{rater.occupation}}
</p>
    {% for rating in rating_list %}
        {% with flick_id=rating.movie_id.movie_id %}
      <p>
        <a href="{% url 'movie_recommender:movie' flick_id%}">Movie: {{rating.movie_id.title}}</a>
        Movie ID: {{rating.movie_id.movie_id}}
        Rating: {{rating.rating}}

      </p>
        {% endwith %}
    {% endfor %}
{% endif %}
